<h1>You are grateful because:</h1>

<div ng-controller="EntryCtrl">
  <form ng-submit="addEntry()">
    <input type="text" ng-model="newEntry.description">
    <input type="submit" value="add entry">
  </form>

  <ul>
    <li ng-repeat="entry in entries">{{entry.description}}</li>
  </ul>
</div>
